/*variable for color calculator*/
$background-color: #1f1f1f;
$screen-color: #38393d;
$button-value-color: #c2def4;
$button-all_clear-color: #0f5324;
$button-operator-color: #004a77;
$button-equal-color: #042362;
$button-color: #28282a;
